@charset "utf-8";


.section_1{
	margin-top: 80px;
}
.section_1 .section_1box{
	width: 624px;
	border-radius: 3px;
	margin:10px auto;
	border-bottom: 4px solid #bbb4ae;
	position: relative;
}

.section_1 .section_1box a img{
	border:10px solid rgba(0,0,0,0.1) ;
	border-radius: 50%;
	position: absolute;
	top: 40px;
	left: 206px;
}
.section_1 .section_1box .tx{
	width: 100%;
	position: absolute;
	top: 235px;
	margin-top: 40px;
	background: -webkit-gradient(linear,0% 100%,0% 0%,from(rgba(0,0,0,0.7)),to(rgba(0,0,0,0)));
}
.section_1 .section_1box .tx h4{
	font-size: 30px;
	color: #fff;
	font-weight: bold;
	margin-bottom: 10px;
}
.section_1 .section_1box .tx .address{
	margin-bottom: 30px;
}
.section_1 .section_1box .tx i{
	color: #85d2c5;
}
.section_1 .section_1box .tx span{
	font-size: 24px;
	color: #a49f99;
	margin-bottom: 40px;
}
.section_1 .section_1box .tx ul{
	margin-bottom: 25px;
}
.section_1 .section_1box .tx ul li{
	display: inline-block;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background: rgba(255,255,255,0.2);
}
.section_1 .section_1box .tx ul li:hover{
	background: #fff;
}
.white{
	background: #fff!important;
}
.section_1 .section_1box .fans{
	background: #fff;
	padding: 12px 22px;
}
.section_1 .section_1box .fans div{
	width: 25%;
	text-align: center;
	display: inline-block;
	float: left;
}
.section_1 .section_1box .fans div:nth-child(2){
	background: url(../images/dian.png) repeat-y left top;
}
.section_1 .section_1box .fans div:nth-child(3){
	background: url(../images/dian.png) repeat-y left top;
}
.section_1 .section_1box .fans a:last-child div{
	background: #dadada;
	border-radius: 3px;
	border-bottom: 4px solid #c7c7c7;
}

.section_1 .section_1box .fans div h4{
	font-size: 24px;
	color: #a49f99;
	line-height: 24px;
}
.section_1 .section_1box .fans div p{
	font-size: 30px;
	color: #79746e;
	font-weight: bold;
}
.section_1 .section_1box .fans div i{
	font-size: 24px;
	font-weight: bold;
	color: #b3b3b3;
	line-height: 58px;
}
.section_1 .section_1box .fans div span{
	font-size: 24px;
	color: #fff;
}

.section_2{
	padding:16px 0;
	margin-bottom:82px;
}
.section_2 img{
	border-bottom: 4px solid #bab4ae;
	border-radius: 3px;
	margin-bottom: 18px;
}


